$global-gap: 8px;
$global-border-radius: 4px;
$global-border-color: #d1dbe5;
$global-input-width: $global-gap * 40;
$global-input-label-width: $global-gap * 12;

$layout-sidebar-width: $global-gap * 28;
$layout-navbar-height: $global-gap * 8;
$layout-breadcrumb-height: $global-gap * 6;

$color-primary: #20a0ff;
$color-info: #50bfff;
$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-failure: #48576a;
$color-hover: #e4e8f1;
$color-active: #e4e8f1;
