@import '~element-ui/packages/theme-chalk/src/common/var.scss';

$global-gap: 8px;
$global-border-radius: $--border-radius-base;
$global-border: $--border-base;

$layout-sidebar-width: $global-gap * 28;
$layout-sidebar-collapse-width: 64px;
$layout-navbar-height: $global-gap * 7;
